html {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
}

/*Universal Styles*/
h1 {
    font-size: 2.5rem;
    margin: 2rem 0rem;
}

p {
    font-size: 1.25rem;
    margin: 0.5rem;
}

/*Header*/
header {
    background: #2F2F2F;
    color: #F2F2F2;
    width: 30rem;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.name {
    margin: 5rem 0rem;
    text-align: center;
}

header a {
    display: flex;
    align-items: center;

    color: #F2F2F2;
    font-size: 1.5rem;
    text-decoration: none;
}

nav div {
    width: 30rem;
    padding: 2rem;
}

nav div:hover {
    background: #3F3F3F;
    border-left: 0.25rem solid #F2F2F2;
}

.header-icons {
    width: 2.5rem;
    margin: 0rem 3rem 0rem 1.5rem;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    text-align: center;
}

.info img {
    width: 10rem;
}
